@font-face {
    font-family: "Bebas-neue";
    src: url(../Assets/fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: "open-sans";
    src: url(../Assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Classe genrica para centralizar o site */
.layout-grid {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* border: solid 3px yellow; */

}



/******** HEADER ********/

header {
    height: 60px;
    /* width: 100%; */
    background-color: #F9003D;

}

header #menu-mobile {
    display: none;
}

header .header-flex {

    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    height: 60px;

}

nav {

    /* border: solid 3px green; */
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
}

header nav a {

    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    font-family: "Bebas-neue";
    letter-spacing: 1px;
    text-shadow: 2px 2px 10px black;
    padding: 15px 20px;
    border-radius: 5px;
}

header nav a:hover {

    text-shadow: 2px 2px 5px rgba(249, 0, 61, 0.6);
    background-color: white;
    color: blue;
}


/******  MAIN  *******/



/***** Article  *****/

.banner {

    height: 740px;
    /* background-color: royalblue; */
    background-image: url(../Assets/imagem-fundo-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}

article h1 {

    color: white;
    font-family: "Bebas-neue";
    font-size: 96px;
    text-transform: uppercase;
    height: 230px;
    width: 600px;

    /* margin-bottom: 3px solid #FFAF00;
    padding-bottom: 16px; */

}

article {
    display: flex;
    align-items: center;
    /* padding: 100px; */
}

hr {
    border: solid 1px #FFAF00;
    margin: 20px 0;
    width: 36vw;

}

article p {
    color: #F9003D;
    font-family: 'Courier New', Courier, monospace;
    font-size: 53px;
    font-weight: bold;
    text-transform: uppercase;
}

img {

    padding-top: 29px;
    ;
}

/***** Section  ******/

section {
    background-color: #080324;
    /* margin-bottom: 50px; */
    color: white;
}

section .container-sobre {
    display: flex;
}

section .img-sobre {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

section img {
    width: 491px;
    height: 476px;
}

section .lado-direito {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
    width: 620px;
    height: 500px;

    margin-left: 109px;
    margin-top: 194px;

}

section div h2 {

    font-family: "bebas-neue";
    font-size: 64px;
    color: #F9003D;
    padding: 40px 0;
}

section span {

    color: white;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}

section h3 {
    font-family: "bebas-neue";
    font-size: 64px;
    color: #FFAF00;
    text-transform: uppercase;

}

section p {
    font-family: "open-sans";
    font-size: 18px;

}

/***** Section com Article's  *****/

.img_background {
    background-image: url(../Assets/imagem-fundo-info.png);
    height: 200px;
    display: flex;
    align-items: center;

}

.locais {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}

.box-roxa {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 289px;
    height: 100px;
    border: solid 1px #A259F7;
}

.box-roxa p {

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Courier New', Courier, monospace;
    color: #A259F7;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
}

main section .locais h2 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.teste {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}
























/******* MEDIA QUERIES ********/


/* smartphones >= 0 até 767px */
@media screen and (max-width: 767px) {
    header #menu-mobile {
        display: block;
        /* color: white; */
    }


    .mostrarmenu {

        left: 0;
        opacity: 1;
    }

    header nav {
        position: fixed;
        top: 60px;
        left: -80vw;
        width: 80vw;
        height: calc(100vw - 60px);
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #F9003D;
        opacity: 0;
        transition: left 1.0s, opacity 0.6s;

       
    }

    

    /* temporario */
    main {

        /* display: none; */
        background-color: #080324;
    }



}